body,
html {
    font-family: 'DM Serif Display', serif;
    margin: 0 auto;
    overflow-x: hidden;
    width: 100%;
}

.header {
    display: flex;
    width: 100%;
    padding: 20px;
}

.insure {
    font-size: 1.8rem;
}

.header-features {
    display: none;
}

.desktop-horizontal-line {
    display: none;
}

.header-line {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #000;
    padding: 4px;
    width: 100%;
    height: 20px;
    max-width: 20px;
    margin-top: 3px;
    opacity: 0.7;
    margin-left: auto;
    margin-right: 2.5pc;
}

.line {
    width: 100%;
    height: 2px;
    background-color: #000;
    margin: 2px 10px;
    opacity: 0.9;
}

.image-intro-container {
    width: 100%;
}

.image-intro-box {
    width: 100%;
}

/* ===========intro-content========= */
.overall-intro {
    background-color: hsl(256, 26%, 20%);

}

.intro-container {
    background-color: hsl(256, 26%, 20%);
    margin-top: -5px;
    padding-bottom: 3pc;
}

.pattern-left-image-desktop {
    display: none;
}

.image-intro-right-desktop {
    display: none;
}

.insurance-box-desktop {
    display: none;
}

.insurance-container {
    text-align: center;
    color: #f5f6f5;
    font-size: 50px;
    padding: 0px 0px;
    line-height: 50px;
    margin-top: -4.4pc;
}

.insurance-box-one {
    color: #dde2dd;
    margin-top: 20px;
    text-align: center;
    padding: 0px 25px;
    line-height: 25px;
}

.plans {
    margin-top: 30px;
    text-align: center;
    color: #dde2dd;
    border: 2px solid #dde2dd;
    width: 130px;
    justify-self: center;
    padding: 10px;
}

.image-intro-right {
    display: flex;
    justify-self: end;
    height: 290px;
    margin-top: -7pc;
    padding-bottom: 1.5pc;
}

.image-intro-desktop {
    display: none;
}

/* =======main content==== */
.main-content {
    text-align: center;
    padding-top: 7pc;
    margin-top: -11pc;
    background-color: #fff;
}

.horizontal-line {
    margin: 10px 7pc;
    color: 10px solid rgb(253, 250, 245);
}

.we-are-different {
    font-size: 48px;
    margin-top: 20px;
}

/* ==============snappy process=== */
.snappy-image {
    margin-top: 80px;
}

.snappy-box {
    font-size: 30px;
    margin-top: 30px;
}

.snappy-content {
    margin-top: 18px;
    opacity: 0.4;
    padding: 0px 34px;
    line-height: 27px;
}

/* ==============affordable price=== */
.price-image {
    margin-top: 80px;
}

.price-box {
    font-size: 30px;
    margin-top: 30px;
}

.price-content {
    margin-top: 18px;
    opacity: 0.4;
    padding: 0px 34px;
    line-height: 27px;
}

/* ==============people first=== */
.people-image {
    margin-top: 80px;
}

.people-box {
    font-size: 30px;
    margin-top: 30px;
}

.people-content {
    margin-top: 18px;
    opacity: 0.4;
    padding: 0px 34px;
    line-height: 27px;

}

/* ===============find out more========= */
.find-more-container {
    background-color: hsl(256, 26%, 20%);
    color: #f5f6f5;
    text-align: center;
    padding-top: 4pc;
    padding-bottom: 6pc;
    margin: 10pc 20px 20px 20px;
    overflow: hidden;
}

.find-out {
    padding-top: 5pc;
    font-size: 40px;
    padding: 0px 20px;
    line-height: 40px;
}

.how-we-work {
    margin-top: 50px;
    border: 2px solid #f5f6f5;
    width: 150px;
    padding: 10px 0px;
    justify-self: center;
    letter-spacing: 2px;
}

.intro-right-mobile {
    display: flex;
    justify-self: end;
    margin-top: -23pc;
    width: 170px;
    height: 350px;
}

.intro-right-desktop  {
    display: none;
}

.footer {
    margin-top: 13pc;
    padding-bottom: 30px;
}

.insure-and-images {
    margin-top: -7pc;
}

.footer-insure {
    text-align: center;
    font-size: 30px;
    letter-spacing: 2px;
}

.footer-images {
    margin-top: 25px;
    display: flex;
    justify-self: center;
    gap: 20px;
}

.footer-info {
    margin-top: 30px;
    text-align: center;
    margin-bottom: 80px;
}

.straight-line {
    margin: 0px 30px;
}

.image-pattern-desktop  {
    display: none; 
}

/* ==========our company */
.our-company-box {
    margin-top: 35px;
    opacity: 0.5;
    letter-spacing: 2px;
}

.about-box {
    margin-top: 30px;
}

.how,
.why,
.check,
.reviews {
    margin-top: 8px;
}

/* ==========help me========= */
.help-me-box {
    margin-top: 35px;
    opacity: 0.5;
    letter-spacing: 2px;
}

.about-box-2 {
    margin-top: 30px;
}

.faq,
.terms,
.privacy,
.cookies {
    margin-top: 8px;
}

/* ==========contact========= */
.contact-box {
    margin-top: 35px;
    opacity: 0.5;
    letter-spacing: 2px;
}

.about-box-3 {
    margin-top: 30px;
}

.sales,
.support,
.live-charts {
    margin-top: 8px;
}

/* ==========others========= */
.others-box {
    margin-top: 35px;
    opacity: 0.5;
    letter-spacing: 2px;
}

.about-box-4 {
    margin-top: 30px;
}

.careers,
.press,
.licenses {
    margin-top: 8px;
}


@media only screen and (min-width: 1024px) {
    body {
        overflow-x: hidden;
        margin: 0;
        padding: 0;
        width: 100%;
    }

    .header-line {
        display: none;
    }

    .header {
        display: flex;
        width: 100%;
        padding: 20px 5pc;
    }

    .header-features {
        display: flex;
        /* font-size: 1.5rem; */
        margin-top: 12px;
        margin-left: 17pc;
        gap: 20px;
        letter-spacing: 2px;
    }

    .insure {
        font-size: 2.5rem;
    }

    .view-plans {
        border: 2px solid #000;
        padding: 15px;
        margin-top: -15px;
    }

    .overall-intro {
        overflow: hidden;
    }

    .image-intro-container {
        display: none;
    }

    .pattern-left-image {
        display: none;
    }

    .image-intro-right-desktop {
        display: flex;
    }

    .image-intro-right {
        display: none;
    }

    .desktop-horizontal-line {
        display: flex;
        margin-right: 15pc;
        margin-bottom: 3pc;
    }

    .intro-container {
        background-color: hsl(256, 26%, 20%);
        margin-top: -5px;
        text-align: start;
        padding-left: 0pc;
        padding-top: 10pc;
        margin-bottom: 35pc;

    }

    .insurance-container {
        text-align: start;
        color: #f5f6f5;
        font-size: 50px;
        margin-right: 38pc;
        line-height: 4pc;
        margin-top: -4.4pc;
        padding-left: 4pc;
    }

    .insurance-content {
        justify-self: start;
        color: #dde2dd;
        margin-top: 20px;
        text-align: start;
        margin-right: 27pc;
        line-height: 25px;
        padding-left: 4pc;
    }

    .insurance-box-one {
        display: none;
    }

    .insurance-box-desktop {
        display: flex;
    }

    .plans {
        margin-top: 30px;
        justify-self: start;
        padding: 10px;
        margin-left: 4pc;
    }

    .pattern-left-image-desktop {
         display: flex;
        margin-top: -14.5pc;
        width: 120px;
    }

    .image-intro-right-desktop {
        margin-left: auto;
        margin-top: -68pc;
        margin-bottom: 4pc;
        width: 320px;
        height: 500px;
        position: relative;
    }

    .image-intro-desktop {
        display: block;
        justify-self: end;
        width: 300px;
        height: 450px;
        margin-right: 5pc;
        margin-top: -22pc;
    }

    .main-content {
        text-align: start;
        margin-top: -11pc;
        padding-left: 4pc;
    }

    .contents {
        display: flex;
        gap: 30px;
    }

    .horizontal-line {
        margin: 10px 53pc 10px 7px;
    }

    .we-are-different {
        font-size: 50px;
        margin-top: 20px;
    }

    /* =============snappy==== */
    .snappy-box {
        font-size: 30px;
        margin-top: 30px;
    }

    .snappy-content {
        font-size: small;
        padding: 0px 0pc;
        line-height: 24px;
        width: 280px;
    }

    /* ==============affordable price=== */

    .price-box {
        font-size: 30px;
        margin-top: 30px;
    }

    .price-content {
        font-size: small;
        padding: 0px 0px;
        line-height: 24px;
        width: 280px;
    }

    /* ==============people first=== */

    .people-box {
        font-size: 30px;
        margin-top: 30px;
    }

    .people-content {
        font-size: small;
        padding: 0px 0px;
        line-height: 24px;
        width: 270px;
    }

    /* ===============find out more========= */
    .overall-find-more-container  {
        position: relative;
        overflow: hidden;
        width: 100%;
    }

    .work-and-image-box  {
        /* display: flex; */
    }

    .find-more-container {
        display: flex;
        gap: 17pc;
        background-color: hsl(256, 26%, 20%);
        color: #f5f6f5;
        text-align: none;
        padding-top: 4pc;
        padding-bottom: 4pc;
        margin: 10pc 50px -20px 0pc;
        position: relative;
    }

    .find-out {
        text-align: start;
        padding-top: 5pc;
        font-size: 40px;
        padding: 20px 0pc 20px 30px;
        width: 350px;
        line-height: 40px;
    }

    .how-we-work {
        margin-right: 3pc;
        margin-top: 40px;
        border: 2px solid #f5f6f5;
        width: 150px;
        padding: 10px 0px;
        letter-spacing: 2px;
    }

    .intro-right-mobile {
         display: none;
    }

    .intro-right-desktop  {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        height: auto;
        max-width: 100%;
        overflow: hidden;
        margin-top: -7pc;
        width: 400px;
    }

    .insure-and-images  {
        margin-left: 4pc;
        display: flex;
        justify-content: space-between;
    }

    .footer-images  {
        margin-top: -2px;
        margin-right: 8pc;

    }

    .image-pattern-image  {
        display: none;
    }

    .straight-line  {
        margin-left: 0px;
        margin-top: 17px;
    }

    .footer-info  {
        /* margin-top: -5pc;  */
        margin-left: 4pc;
        display: flex;
        justify-content: space-between;
        padding-right: 10pc; 
    }

    .image-pattern-desktop  {
        display: block;
        margin-top: 13pc;
        height: 300px;
        width: 600px;
        margin-left: -10pc;
        /* padding-bottom: 20pc; */
    }

    .overall-footer  {
        margin-top: -27pc;
    }
}